<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="C:/Users/stepa/Desktop/TestZendesk">
        <classes>
            <class name="testScenarios.LeadStatusTest">
                <methods>
                    <include name="leadStatusTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>